
{% block content %}

<div class="containerForm">
    <h3 class="titulo">Carga de Imagen</h3>
    <div class="form-carga">
       
        <form method="POST" action="{{ url_for('auth.carga') }}" enctype="multipart/form-data">
            <div class="form-group">
                <label for="imageUpload">Cargar Imagen</label>
                <input type="file" class="form-control-file" id="imageUpload" name="image" required>
            </div>
            <div class="form-group">
                <label for="titulo">Titulo para la Imagen</label>
                <input type="text" class="form-control" id="titulo" name="titulo" placeholder="Ingrese el titulo para la imagen" required>
            </div>
            <div class="form-group">
                <label for="content">Texto para la Imagen</label>
                <input type="text" class="form-control" id="content" name="content" placeholder="Ingrese el texto para la imagen" required>
            </div>
            <div class="form-group text-center">
                <button type="submit" class="btn btn-primary mr-2">Subir Imagen</button>
                <a href="#" class="btn btn-danger">Cancelar</a>
            </div>
        </form>
    </div>

</div>

{% endblock %}