{% extends "base_auth.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
    {{ super() }} | Editar usuario
{% endblock %}
{% block content %}

    {{ super() }} 
   
    <div class="container mt-4">
        <div class="row">
            <div class="container form">
                <h1>Editar Usuario</h1>
                <form method="POST">
                    {{ form.hidden_tag() }}
                    
                    <div class="form-group">
                        {{ wtf.form_field(form.username, class="form-control", placeholder="Username") }}
                    </div>
                    <div class="form-group">
                        {{ wtf.form_field(form.email, class="form-control", placeholder="Email") }}
                    </div>
                    <div class="form-group">
                        {{ wtf.form_field(form.password, class="form-control", placeholder="New Password (leave blank if not changing)") }}
                    </div>
                    <div class="form-group">
                        {{ wtf.form_field(form.confirm, class="form-control", placeholder="Confirm New Password (leave blank if not changing)") }}
                    </div>
                    <div class="form-group d-flex justify-content-between">
                        {{ wtf.form_field(form.submit, class="btn btn-primary") }}
                        <a href="{{ url_for('auth.home') }}" class="btn btn-secondary">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
