{% extends "base_auth.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}
    {{ super() }} | Login
{% endblock %}
{% block content %}

    {{ super() }} 
    <div class="containerForm">
        <div class="form-login">
            <div class="login-box">
                <img class="avatar" src="{{ url_for('static', filename='images/escudo.png') }}" />
                <h4>Ingrese aquí</h4>
                <form method="POST" action="{{ url_for('auth.log_in_user') }}">
                    {{ form.hidden_tag() }}
                    <!-- USERNAME -->
                    <div class="form-group">
                        {{ wtf.form_field(form.username) }}
                        
                    </div>
                    <!-- CONTRASEÑA -->
                    <div class="form-group">
                        {{ wtf.form_field(form.password) }}
                        
                    </div>
                    <div>{{ wtf.form_field(form.stay_loggedin) }}</div>
                    <input type="submit" value="Ingresar" class="btn btn-primary" />
                </form>
                <a href="#" class="forgot-password-link">
                    Olvidó su clave?
                    <span>En caso afirmativo, por favor contacte al administrador.</span>
                </a>
                    
                
            </div>
            
        </div>
    </div>


{% endblock %}
