<div class="nav-bar">
  <img
    class="logo"
    src="{{url_for('static',filename='images/escudo.png')}}"
    alt="escudo"
  />
  <div class="navigation">
    <div class="nav-items">
      <!--Estos son los links a las diferentes paginas del site-->
      <i class="fas fa-times nav-close-btn"></i>

      <a class="M" href="#inicio">Inicio</a>
      <a class="M" href="#historia">Historia</a>
      <a class="M" href="#servicios">Servicios</a>
      <a class="M" href="#obras">Obras Públicas</a>
      <a class="M" href="#contacto">Contacto</a>
    </div>
  </div>
  <i class="nav-menu-btn fas fa-bars"></i>
</div>
