<div class="contenedorHistoria">
    <div class="contenedorHistoria_titulo">
      <h4>HISTORIA</h4>
    </div>
    <div class="contenedor_parrafo">
      <p>
        El pueblo fue fundado en 1864, cuando el General Heraldo Perotti
        donó una gran parte de sus tierras para formar una colonia agrícola.
      </p>
      <p>
        En 1882, mientras se estaban construyendo las primeras casas, se
        puso en funcionamiento la estación ferroviaria, conectando el
        poblado con las ciudades aledañas.
      </p>
      <p>El 1º de Marzo de 1870 se fundó la primera escuela.</p>
      <p>
        El 24 de julio de 1885 se inauguró la Iglesia, diseñada por el
        arquitecto Pedro Benoit.
      </p>
      <p>
        En la década de 1910 el lugar logro un gran impulso relacionado con
        la producción lechera.
      </p>
      <p>
        Llegaron a instalarse 30 tambos y varias queserías de inmigrantes
        vascos e italianos.
      </p>
      <p>
        Con el nuevo siglo sus pobladores a efectos de generar el interés de
        los turistas, organizaron campañas con visitas guiadas, destacando
        la estructura edilicia antigua - muy bien conservada - y sus comidas
        tradicionales del ambiente rural (quesos con especias, embutidos,
        asado, e incluso comidas alemanas).
      </p>
      <p>
        Esto logro la anuencia y concurrencia de numerosos visitantes los
        fines de semana y muchos de ellos compraban propiedades para
        establecerse en Perotti por la tranquilidad y el permanente cuidado
        de la naturaleza.
      </p>
    </div>

    <div class="contenedorHistoria_titulo">
      <h4>DESCRIPCIÓN DEL LUGAR</h4>
    </div>
    <div class="contenedor_parrafo">
      <p>
        La plaza principal y el centro cívico son obras del Ingeniero /
        arquitecto Pedro Benoit.
      </p>
      <p>
        Se trata de espacios verdes con inspiración europea, parquizados y
        con senderos que se integran con la plaza, la iglesia y la escuela.
      </p>
      <p>
        Construcciones en su mayoría de 1890 que aún siguen en pie. En la
        estación ferroviaria, - cuyos servicios se vieron reducidos desde la
        década de 1990 -, se instaló un Museo que abre los fines de semana.
      </p>
      <p>
        Estos escenarios convocan a numerosos fotógrafos profesionales y
        aficionados atraídos por los espacios verdes, sus antigüedades y su
        cultura.
      </p>
      <p>
        La prosperidad del lugar generó la venta de lotes en zonas aledañas
        al pueblo y la construcción de numerosos barrios privados.
      </p>
    </div>
  </div>